/* FONTS */
    /* NORMAL */
    @font-face {
        font-family:'poppins';
        src: url('assets/font/Poppins-Regular.ttf');
    }
/* ROOT */
html {
    /* 1 rem = 10px */
    font-size: 62.5%; 
}
:root {
    /* BACKGROUDNS */
    --backgroundMain: #fff8f4;
    --backgroundHeader: #185079;
    --backgroundContainer: #3885ab;
    /* SOLID COLORS */
    --detail: #3885ab;
    --detail2: #000;
    /* TEXT */
    --text1: #E0E0E0;
    --text2: #000;
}
* {
    scrollbar-width: thin;
}
*::-webkit-scrollbar {
    width: 8px;
}
/* TEXT */
p {
    font-size: 1.3rem;
}
.deFora {
    margin-left: 1rem;
}
/* GENERAL */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: poppins;
    color: var(--text1);
}
body {
    background-color: var(--backgroundMain);
}
.flexColumn {
    display: flex;
    flex-direction: column;
    align-items: center;
}
/* BUTTONS */
button {
    color: var(--detail);
    background-color: var(--backgroundHeader);
    border: 2px solid var(--detail);
    border-radius: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
}
button:hover {
    color: var(--backgroundHeader);
    background-color: var(--detail);
}
/* IMAGES */
.gridbox figure {
    height: 35rem;
}
.imagemCard {
    height: 100%;
    width: 100%;
    border: 1px solid var(--backgroundHeader);
    box-shadow: 0px 0px 6px #000;
    transition: 0.1s ease-in-out;
}   
.imagemCard:hover:not(.card) {
    transform: scale(1.1);
    box-shadow: 0px 0px 12px #000;
}
/* CONTANIERS */
    /* container logo + title header */
    .containerLT {
        display: flex;
        flex-direction: row;
        position: relative;
        margin-left: 12px;
    }
    .containerLT img {
        height: 32px;
        width: 32px;
        position: absolute;
        top: 4px;
    }
    .containerLT h1 {
        color: var(--text1);
        font-size: 28px;
        margin-left: 32px;
    }
    /* container cards */
    #containerCards {
        width: 100%;
        height: auto;
        padding: 1rem;
        display: flex;
        flex-direction: row;
        gap: 40px;
        overflow-x: scroll;
        overflow-y: hidden;
    }
    /* cards */
    .card {
        border: 2px solid var(--backgroundHeader);
        border-radius: 8px;
        height: 43rem;
        width: 40rem;
        display: grid;
        grid-template-rows: 1fr 20%;
        overflow: hidden;
        box-shadow: 0px 0px 8px #000;
        padding: 0.5rem;
        cursor: pointer;
        flex-shrink: 0;
    }
    .gridbox {
        display: grid;
        grid-template-columns: 60% 40%;
    }
    .containerTags {
        height: 100%;
        width: 100%;
        display: flex;
        flex-direction: row;
        align-items: center;
        overflow-y: hidden;
        overflow-x: auto;
        gap: 0.5rem;
    }
    .tag {
        font-size: 2rem;
        border: 1px solid var(--detail2);
        background-color: var(--detail);
        padding: 2px 6px 2px 6px;
        border-radius: 20px;
        white-space: nowrap;
    }
    .containerTags {
        scrollbar-width: none;
    }
    .containerTags::-webkit-scrollbar {
        display: none;
    }
    .card:has(figure:hover){
        overflow: visible;
    }
    .containerDesc {
        height: 35rem;
        width: 100%;
        list-style-type: none;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 0.3rem;
        overflow-y: scroll;
        overflow-wrap: anywhere;
    }
    .containerDesc {
        scrollbar-width: thin;
    }
    .containerDesc::-webkit-scrollbar {
        width: 8px;
    }
    /* container cardlings */
    .containerCardlings {
        width: 100%;
        height: auto;
        padding: 1.5rem 1rem 2.5rem 1rem;
        display: flex;
        flex-direction: row;
        gap: 40px;
        overflow-x: scroll;
        overflow-y: hidden;
    }
    /* cards */
    .ling {
        width: 20rem;
        flex-shrink: 0;
        height: 26rem;
        padding: 0;
        transition: 0.1s ease-in-out;
    }
    .ling:hover {
        transform: scale(1.1);
        box-shadow: 0px 0px 12px #000;
        object-fit: cover;
    }
    .ling img {
        height: 100%;
        width: 100%;
        border: 1px solid var(--backgroundHeader);
        box-shadow: 0px 0px 6px #000;
        transition: 0.1s ease-in-out;
        object-fit: cover;
    }
/* HEADER */
header {
    position: sticky;
    top: 0;
    z-index: 3;
    width: 100%;
    height: 72px;
    background-color: var(--backgroundHeader);
    border-bottom: 2px solid var(--detail);
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-shadow: 0px 0px 12px #000;
}
header button {
    height: auto;
    width: auto;
    padding: 1rem;
    margin-right: 1rem;
    font-size: 2rem;
}
/* ASIDE */
aside {
    position: fixed;
    top: 0;
    right: 0;
    z-index: 2;
    height: 100%;
    width: 30rem;
    background-color: var(--backgroundHeader);
    border-left: 2px solid var(--detail);
    transform: translateX(100%);
    transition: 0.2s ease-in-out;
}
aside img {
    border: 8px solid var(--backgroundMain);
    border-radius: 82px;
}
.visivel {
    transform: translateX(0);
    box-shadow: 0px 0px 12px #000;
}
.asideContainer {
    border-top: 1px solid var(--backgroundMain);
    width: 90%;
}
.asideContainer button {
    margin-top: 0.5rem;
    width: 100%;
}
/* MAIN */
main {
    padding: 1rem 2rem;
}
/* FOOTER */
footer {
    border-top: 1px solid var(--detail);
    background-color: var(--backgroundHeader);
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    height: 25rem;
}
.footerTexto {
    display: flex;
    flex-direction: column;
    align-items: center;
}
form button {
    width: 100%;
    margin-top: 15px;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
    transition: 0.3s;
}


button[value="cadastrar"] {
    background: #22c55e;
    color: white;
}

button[value="atualizar"] {
    background: #f59e0b;
    color: white;
}

button[value="excluir"] {
    background: #ef4444;
    color: white;
}


form button:hover {
    opacity: 0.8;
}
form {
    
    justify-content: center;
    background: #185079;
    padding: 30px;
    border-radius: 10px;
    width: 350px;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
}


form label {
    display: block;
    margin-top: 15px;
    margin-bottom: 5px;
}


form input {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    outline: none;
}
h2{
    color: #020617;
    
}