/* FONTS */
	/* NORMAL */
	@font-face {
		font-family:'poppins';
		src: url('assets/font/Poppins-Regular.ttf');
	}
/* ROOT */
	html {
		/* 1 rem = 10px */
		font-size: 62.5%; 
	}
	:root {
		/* BACKGROUDNS */
		--backgroundMain: #fff8f4;
		--backgroundHeader: #185079;
		--backgroundHeader2: #1b5885;
		--backgroundContainer: #3885ab;
		/* SOLID COLORS */
		--detail: #3885ab;
		--detail2: #000;
		/* TEXT */
		--text1: #E0E0E0;
		--text2: #000;
	}
/* TEXT */
	p {
		font-size: 1.3rem;
		color: var(--text2);
	}
	a {
		text-decoration: none;
	}
	a:visited {
		color: var(--text1);
	}
	a:hover {
		cursor: pointer;
	}
/* GENERAL */
	* {
		padding: 0;
		margin: 0;
		box-sizing: border-box;
		font-family: poppins;
		color: var(--text2);
		scrollbar-width: thin;
	}
	*::-webkit-scrollbar {
		width: 8px;
	}
	body {
		background-color: var(--backgroundMain);
	}
/* BOTÕES */
	button {
		color: var(--detail);
		background-color: var(--backgroundHeader);
		border: 2px solid var(--detail);
		border-radius: 12px;
		display: flex;
		justify-content: center;
		align-items: center;
	}
	button:hover {
		cursor: pointer;
	}
/* IMAGES */
	.gridbox figure {
		height: 35rem;
	}
/* HEADER */
	header {
		position: sticky;
		top: 0;
		z-index: 3;
		width: 100%;
		height: 72px;
		background-image: linear-gradient(to right, var(--backgroundHeader), var(--backgroundHeader2));
		border-bottom: 2px solid var(--detail);
		display: flex;
		align-items: center;
		justify-content: space-between;
		box-shadow: 0px 0px 12px #000;
		padding: 0 2rem 0 0;
	}
	header button {
		height: auto;
		width: auto;
		padding: 1rem;
		margin-right: 1rem;
		font-size: 2rem;
		border: 2px solid #FFF;
		color: #fff;
	}
	header button:hover {
		color: var(--backgroundHeader);
		background-color: #fff;
	}
	.clickHeader {
		color: var(--text1);
	}
	/* container logo + title header */
	.containerLT {
		display: flex;
		flex-direction: row;
		position: relative;
		margin-left: 12px;
	}
	.containerLT img {
		height: 32px;
		width: 32px;
		position: absolute;
		top: 4px;
	}
	.containerLT h1 {
		color: var(--text1);
		font-size: 28px;
		margin-left: 32px;
	}
/* FOOTER */
	footer {
		border-top: 1px solid var(--detail);
		background-color: var(--backgroundHeader);
		display: grid;
		grid-template-columns: 1fr 1fr 1fr;
		height: 25rem;
		box-shadow: 0px 0px 12px #000;
		position: relative;
		z-index: 3;
	}
	.footerTexto {
		display: flex;
		flex-direction: column;
		align-items: center;
		gap: 1rem;
	}
	.footerTexto * {
		color: var(--text1);
	}
/* FORMULÁRIO */
	form button:hover {
		opacity: 0.8;
	}
	form {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		width: 100%;
		padding: 0 1rem 0 1rem;
	}
	form button {
		width: 100%;
		margin-top: 1.5rem;
		padding: 10px;
		border: none;
		border-radius: 5px;
		cursor: pointer;
		font-weight: bold;
		background: #22c55e;
		color: white;
	}
	button[value="atualizar"] {
		background: #f59e0b;
		color: white;
	}

	button[value="excluir"] {
		background: #ef4444;
		color: white;
	}
	input {
		width: 100%;
		height: 4rem;
		border: 2px solid var(--detail);
		border-radius: 16px;
		margin-top: 0.5rem;
		color: var(--text2);
		padding-left: 1rem;
	}
	input::placeholder {
		margin-left: 1rem;
		color: var(--text2);
		opacity: 0.5;
	}
	label {
		font-size: 1.5rem;
		color: var(--text1);
	}
	form h1 {
		font-size: 2rem;
	}
	form label {
		display: block;
		margin-top: 1rem;
	}
	.formCad {
		height: 80%;
		background: var(--backgroundHeader);
		padding: 30px;
		border-radius: 10px;
		border: 2px solid var(--detail);
		box-shadow: 0px 0px 10px #000;
		margin-top: 2rem;
	}
	.loginForm {
		background-color: #F3F3F3;
		height: 100%;
		border-radius: 0;
		border-right: 1px solid #707070;
		box-shadow: 0px 0px 24px #000;
		z-index: 1;
	}
	.loginForm h1 {
		font-size: 3rem;
	}
	.loginForm h1, .loginForm label {
		color: var(--text2);
	}
/* INTERFACES PRINCIPAIS */
	main, #interface {
		padding: 1rem 2rem;
		min-height: 100vh;
		height: auto;
	}
	main {
		display: grid;
		grid-template-columns: 1fr 40%;
		gap: 1rem;
	}
	#interface {
		display: flex;
		width:100%;
		justify-content: center;
		align-content: center;
	}
	#interfaceLogin {
		display: flex;
		width:100%;
		min-height: 100vh;
		justify-content: center;
		align-content: center;
	}
	/* tela de login */
	.interfaceLogin {
		width: 100%;
		height: 100%;
		min-height: 100vh;
		display: grid;
		grid-template-columns: 40% 1fr;
		align-items: stretch;
	}
	.imagemTelaLogin img {
		width: 100%;
		height: 100%;	
	}
/* ASIDE */
	aside {
		border: 2px solid var(--detail);
		display: flex;
		flex-direction: column;
		align-items: center;
	}
	aside figure {
		width: 90%;
	}
	aside .card {
		width: 90%;
	}
	aside .card:hover {
		cursor: pointer;
	}
	.imagemAside {
		width: 100%;
	}
	section, aside {
		height: 100%;
	}
		/* cards */
			.card {
				border: 2px solid var(--detail);
				border-radius: 8px;
				max-height: 25rem;
				width: 90%;
				box-shadow: 0px 0px 8px #000;
				margin-top: 1rem;
				overflow: auto;	
			}
			.flexbox {
				display: flex;
				flex-direction: column;
				align-items: center;
			}
			.gridbox {
				border: 2px solid var(--detail);
				border-radius: 8px;
				box-shadow: 0px 0px 12px #000;
				background-color: var(--backgroundHeader);
				display: grid;
				grid-template-columns: 1fr 1fr 1fr;
				width: 100%;
				max-height: 100%;
				justify-items: center;
				align-content: center;
				gap: 1rem;
			}
			.gridbox .card {
				max-height: 100%;
				height: 100%;
				padding: 1rem;
				color: var(--texto1);
				background-color: var(--backgroundMain);
			}
			.gridbox .card:hover {
				cursor: pointer;
			}
			.card h1 {
				color:var(--text2);
			}
/* SECTION */
	section {
		border: 2px solid var(--detail);
		display: flex;
		flex-direction: column;
		align-items: center;
		line-break:normal;
		padding-top: 1rem;
		overflow-y: scroll;
	}
	section p {
		font-size: 2rem;
		max-width: 80%;
		margin-top: 1rem;
	}
	section img {
		max-width: 90%;
		box-shadow: 0px 0px 8px #000;
		margin-top: 2rem;
	}